* {
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-family: "Arial", sans-serif;
}

.wrapper {
    margin: 0 auto;
}

.slider {
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* grid-template-rows: 30vh auto; */
}

.image-wrapper {
    display: flex;
    width: 100%;
    grid-column: 1/3;
    overflow: hidden;
}

.text-wrapper {
    background-color: lightgray;
}

.controls {
    background-color: bisque;
}




@media (min-width: 0px) {
    .wrapper {
        width: 90vw;
    }

    .slider {
        width: 90vw;
    }

    .slider-image {
        width: 90vw;
    }
}

@media (min-width: 768px) {
    .wrapper {
        width: 80vw;
    }

    .slider {
        width: 80vw;
    }

    .slider-image {
        width: 80vw;
    }
}

@media (min-width: 1280px) {
    .wrapper {
        width: 60vw;
    }

    .slider {
        width: 60vw;
    }

    .slider-image {
        width: 60vw;
    }
}