* {
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-family: "Arial", sans-serif;
}

.wrapper {
    margin: 0 auto;
    background-color: #ac1800;
}

.slider {
    display: grid;
    gap: 1vw;
}

.image-wrapper {
    overflow: hidden;
}

.slider-image {
    display: block;
}

.slides {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.text-wrapper {
    padding: 1vw;
    background-color: #5c0000;
    overflow: hidden;
}

.notes {
    width: fit-content;
    display: flex;
    gap: 3vw;
}

.slider-text {
    margin: 0;
    color: wheat;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5c0000;
}

.radio-group {
    display: flex;
}

.button-area {
    padding: 0.4vw;
    cursor: pointer;
}

.button {
    display: block;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid wheat;
    transition: 0.2s all linear;
    outline: none;
    cursor: pointer;
}

.button:hover {
    border: 6px solid wheat;
}

.button:checked {
    /* border: 5px solid black; */
    background-color: wheat;
}




@media (min-width: 0px) {
    .wrapper {
        width: 92vw;
        padding: 1vw;
    }

    .slider {
        width: 90vw;
        grid-template-columns: 1fr;
    }

    .image-wrapper {
        grid-area: 1/1/2/2;
    }

    .slider-image {
        width: 90vw;
    }

    .text-wrapper {
        grid-area: 3/1/4/2;
    }

    .slider-text {
        width: 88vw;
    }

    .controls {
        grid-area: 2/1/3/2;
        padding: 5vw;
    }
}

@media (min-width: 768px) {
    .wrapper {
        width: 82vw;
        padding: 1vw;
    }

    .slider {
        width: 80vw;
        grid-template-columns: 60vw 1fr;
    }

    .image-wrapper {
        grid-area: 1/1/2/3;
    }

    .slider-image {
        width: 80vw;
    }

    .text-wrapper {
        grid-area: 2/1/3/2;
    }

    .slider-text {
        width: 58vw;
    }

    .controls {
        grid-area: 2/2/3/3;
        padding: 0;
    }
}

@media (min-width: 1280px) {
    .wrapper {
        width: 52vw;
        padding: 1vw;
    }

    .slider {
        width: 50vw;
        grid-template-columns: 35vw 1fr;
    }

    .image-wrapper {
        grid-area: 1/1/2/3;
    }

    .slider-image {
        width: 50vw;
    }

    .text-wrapper {
        grid-area: 2/1/3/2;
    }

    .slider-text {
        width: 33vw;
    }

    .controls {
        grid-area: 2/2/3/3;
        padding: 0;
    }
}